---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-size-base: 12pt;

@import "bootstrap";

// center images in the masonry grid

.grid {
    margin: 0 auto;
}

// a bit of padding in masonry images

.grid-item img {
    margin-bottom: 10px;
}

// clipping preview

.clipping {
    clear: both;
    border: thin solid #999;
    padding: 10px;
    min-height: 430px;
}

.clipping img {
    height: 400px;
    float: left;
    margin: 0px 10px 0px 10px;
}

.manifest-info {
    font-size: 11pt;
}

.window-manifest-title {
    font-size: 11pt;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
