---
layout: page
---

<div class="row">

  <div class="col-sm-6 col-sm-offset-1">

    <h3>{{ page.name }}</h3>
    <p class="summary">
    {{ page.summary }}
    </p>

    <h3>Resources</h3>

    <ul>
      {% for clipping in site.clippings %}{% for subject in clipping.subjects %}{% if page.label == subject %}<li>{% include preview.html clipping=clipping %}</li>{% endif %}{% endfor %}{% endfor %}
    </ul>

  </div>

  <div class="col-sm-4">
  <br>
  <img class="thumbnail img-responsive" src="{{ page.image }}">
  </div>

</div>
