---
layout: page
javascript:
- /bower_components/masonry/dist/masonry.pkgd.min.js
- /bower_components/imagesloaded/imagesloaded.pkgd.min.js
- /bower_components/modernizr/modernizr.js
- /js/authors.js
---

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h3 class="text-center">{{ page.title }}</h3>
    <div class="grid effect-3" id="author-grid">
      {% for author in page.featured_authors %}
      <div class="grid-item">
        <a href="/authors/{{ author }}/">
          <img width="200" src="/authors/{{ author }}/index.jpg">
        </a>
      </div>
      {% endfor %}
    </div>
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h3>Sources:</h3>
    <ul>
      {% for clipping in site.clippings %}{% if clipping.category == page.category %}<li>{% include preview.html clipping=clipping %}</li>{% endif %}{% endfor %}
    </ul>
  </div>
</div>
